body:not(h1){ 
    background: linear-gradient(#1c1c78, #501c78);
    background-attachment: fixed;
    color: #e9e9f0;
    margin: auto;
    max-width: 80%;
    font-family: 'Book Antiqua', serif;
}


header, footer, h2, p:not(.contract){
    text-align: center;
}

#selfie{
    width: 16.25rem;
    height: 28.563rem;
}

#moodboard{
    width: 30rem;
    height: 30rem;
}

figure{
    text-align: center;
}

div{
    padding: 15%;
    padding-top: 0;
    padding-bottom: 0;
}

blockquote{
    text-align: center;
}

h1{
    background-color: #0a0a36;
    color: #e9e9f0;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a{
    text-decoration: none;
    color: #c2277c;
}

a:hover{
    color: #ca5f21 
}

#intro{
    text-align: left;
}

@media screen and (max-width: 600px){

}