<footer>
    <p>
        <a href="https://webpages.charlotte.edu/ilemmons/">CLT Web</a> | 
        <a href="https://bellalemmons.github.io/">Github.io</a> | 
        <a href="https://github.com/bellalemmons/bellalemmons.github.io">Github</a> | 
        <a href="https://www.freecodecamp.org/bellalemmons">freeCodeCamp</a> | 
        <a href="https://www.codecademy.com/profiles/BellaLemmons">Codecademy</a> | 
        <a href="https://www.linkedin.com/in/isabelle-lemmons-a41935328/">LinkedIn</a>
    </p><br>
    <p>Designed by <a href="atouchoflemmons.com/index.html">A Touch of Lemmons </a>&#169; 2026</p>
    <p><em>All you need is a little Lemmons zest!</em></p>
</footer>