@import url(https://fonts.googleapis.com/css?family=Bitcount);

h1, h2{
    text-align: center;
    font-family: 'Bitcount', "Courier New", Courier, monospace;
}

body{
    font-family: Arial, Arial, Helvetica, sans-serif;
    background-image: url("../images/arcade-floor.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    color: #dfdfe6;
    margin: auto;
    max-width: 80%;
}

.container {
    background: linear-gradient(#0a1361, #410a61), #0a1361;
    max-width: 70%;
    height: 100%;
    padding: 2.5rem;
    margin: auto;
    border-radius: 15px;
    border-style: groove;
    border-color: white; /*Had the most contrast against the background image*/
}

#arcade-machines{
    width: 300px;
    height: 400px;
}
a{
    text-decoration: none;
}
a:link{
    color: #db2ea4;
}

a:active{
    color:#db532e;
}

a:hover{
    color: #f2b955;
}

@media screen and (max-width: 600px){

}